*.class
*.log
*.ctxt
.mtj.tmp/
*.tar.gz
*.ear
*.nar
*.war
*.jar
*.zip
*.rar
.env
env(rename to .env)
.idea/
HELP.md
target/
uploads/
# virtual machine crash logs, see http://www.java.com/en/download/help/error.html
hs_err_pid*
replay_pid*